.git
.gitignore
.gitattributes
.github
.env
.env.*
!.env.example
vendor
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
.phpactor.json
.DS_Store
Thumbs.db
README.md